*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar a{
color: white;
text-align: center;
}
.safwan{
    width: 38%;
    height: 787px;
    background-color: black;
    
}
 
.text1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: -200px;
}

  